<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.islavdroid.vomerapp">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInfo" />
        <activity android:name=".GalleryActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <activity android:name=".gallery.DetailImage"/>
        <activity android:name=".PersInformActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <activity android:name=".chat.MainChatActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".PhoneActivity"/>
        <activity android:name=".CallActivity"/>
        <activity android:name=".AnswerActivity"/>
        <activity android:name=".chat.GroupChatActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".invite_friends.ContactListActivity"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>